body {
    background: rgb(255, 190, 92);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    margin: auto;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.main {
    text-align: center;
    padding: 25px;
}

#res {
    text-align: center;
}

#foto {
    margin: 0 auto;
    display: block;
}

#button {
    background-color: rgb(166, 166, 255);
    border: none;
    width: 12vh;
    height: 4vh;
    border-radius: 10vh;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    animation: 0.5s;
}

#button:hover {
    background-color: rgb(90, 90, 153);
}
 

